{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="card card-body">
        <h5>My Close Contacts</h5>
        <hr>
        <h1 style="text-align: center;padding: 10px">{{total_mycontact}}</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-body">

                <form method="get">
                    {{myFilter.form}}

                    <button class="btn btn-primary" type="submit">Search</button>
                </form>

            </div>
            <!-- Main Content Here -->
            <table id="example" class="table table-bordered" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Date</th>
                        <th>Details</th>
                        <th>Remove</th>

                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{contact.name}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phonenumber}}</td>
                        <td>{{contact.date}}</td>
                        <td>{{contact.details}}</td>
                        <td><a class="btn-sm btn-danger" href="{% url 'contacts:delete' contact.id %}">Delete</a></td>   
                        <br>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}